@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1635497174250') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caidan:before {
  content: "\e790";
}

.icon-caidan1:before {
  content: "\e608";
}

.icon-dizhi1:before {
  content: "\e615";
}

.icon-diqiu:before {
  content: "\e689";
}

